.container {
    background-color: aqua;
    border: solid;
    border-radius: 12px;
    padding: 12px;
  }
  h2 {
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }
  p {
    font-family: Lato;
    text-align: center;
    color: black;
  }
div {
    border: 2px solid red;
    border-radius: 25px;
    height: 800px;
    text-align: center;
    background-color: #ECF0F1;
    margin: 4px, 4px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 900px;
    margin-left: 200px;
  }
  .messageto {
    background-color: #0909FF;
    color: #fff;
    margin-right: 20px;
    text-align: right;
    
    border-radius: 50px;
    margin: 0 15px 20px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
  }
  
  .messagefrom {
    background-color:#4863A0;
      color:#fff;
    margin-left: 100px;
    text-align:justify;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
  }
  .messageto + .messageto,
  .messagefrom + .messagefrom {
    margin-top: -10px;
  }
  .button {
    border-radius: 10px;
    background-color: #9b4dca;
    border-color: #9b4dca;
    color: #ffff;
  }
  .button:hover {
    background-color: #4caf50;
    color: white;
  }
  input {
    border: 2px solid orange;
    border-radius: 4px;
  }
  img {
    border-radius: 50px;
    width: 8%;
    height: 8%;
    position: relative;
    top: 20px;
  }
  .rimage {
    border-radius: 50px;
    width: 8%;
    height: 8%;
    position: relative;
    right: 380px;
    top: 70px;
  }
  