.container {
    background-color: aqua;
    border: solid;
    border-radius: 12px;
    padding: 12px;
  }
  h2 {
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }
  p {
    font-family: Lato;
    text-align: center;
    color: black;
  }
div {
    border: 2px solid #ECF0F1;
    border-radius: 4px;
    height: 480px;
    text-align: center;
    background-color: #ECF0F1;
    
    margin: 4px, 4px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
    width: 900px;
    margin-left: 250px;
    
  }
  .messageto {
    background-color: #0909FF;
    color: #fff;
    margin-right: 20px;
    text-align: right;
    
    border-radius: 50px;
    margin: 0 15px 20px;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
  }
  
  .messagefrom {
    background-color:#4863A0;
    color:#fff;
    margin-left: 100px;
    text-align:justify;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
  }
  .messageto + .messageto,
  .messagefrom + .messagefrom {
    margin-top: -10px;
  }
  .button {
    border-radius:10px;
    background-color:#757575;    
    color: #ffff;
    height:20px;
  }
  .button:hover {
    background-color: #4caf50;
    color: white;
  }
  input {
    border: 2px solid;
    border-radius: 7px;
    height:20px;
    text-size-adjust:15px;
  }
  img {
    border-radius: 50px;
    width: 8%;
    height: 8%;
    position: relative;
    top: 20px;
  }
  .rimage {
    border-radius: 50px;
    width: 8%;
    height: 8%;
    position: relative;
    right: 380px;
    top: 70px;
  }
  .sendmesg
  {
    background-color:#757575;
    border-style: 2px solid;
    margin-top: 1px;
    border-radius:4px;
    height:auto;
    
  }
  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .tmenu{
    margin-top: 1px;
    border-radius:4px;
    height:auto;
  }
  .pos
  {
    margin-right:500px;
  }
  
  







  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 100ms;
    visibility: visible;
    opacity: 1;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-top: auto;
    
  }
 .popup {
  margin: 70px auto;
  padding: 20px;
  background: lightblue;
  border-radius: 5px;
  width: 17%;
  height: 33%;
  position: relative;
  
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  }
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  margin-left: 2px;
  
}
.button2:hover {
  background-color: #008CBA;
  color: white;
}
.popup1 {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 25%;
  height: 33%;
  position: relative;
  background-color: lightblue;
  
}
.popup1 .close {
  position: absolute;
  top: 35px;
  right: 25px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  
}
.popup1 .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.customize i
{
  background-color: #008CBA;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left:0;
  right:0;
  top:0;
  border-style: solid;
 
}
.validchats
{
  
  background-color: lightgrey;
  width: 170px;
  height: auto;
  padding: 20px;
  margin: 10px;
  border: 2px solid ;
  display: inline;
  
}
.chatdisplay
{
  background-color:#a39193;
  border:2px solid  ;
  width: 510px;
  height: auto;
  padding: 20px;
  margin: 10px;
}
